#timeLabel {
  font-size: 150;
  font-family: Tungsten-Medium;
  text-length: 8;
  text-anchor: middle;
  x:140;
  y: 138;
  fill: #f887bd;
}

#dateLabel {
  font-size: 45;
  font-family: Tungsten-Medium;
  text-length: 16;
  text-anchor: middle;
  x: 140;
  y: 175;
  fill: #f887bd;
}

#stepsLabel {
  font-size: 125;
  font-family: Tungsten-Medium;
  text-length: 6;
  text-anchor: middle;
  x: 175;
  y: 130;
  fill: #f887bd;
}

#footPrint {
  object-fit: cover;
  background-color: transparent;
  width:13%;
  height: 30%;
  x:27;
  y:45;
}

#heartrateLabel {
  font-size: 50;
  font-family: Tungsten-Medium;
  text-length: 5;
  x: 130;
  y: 175;
  fill: #f887bd;
  position: absolute;
}

#heart {
  object-fit: cover;
  background-color: transparent;
  width: 10%;
  height: 10%;
  x: 98;
  y: 142;
}


#batteryLabel {
  font-size: 15;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 2%;
  y: 5%;
  fill: #13b59b;
}

#slime {
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  width: 38%;
  height: 30%;
  x: 86;
  y: 170;
}

#jump2 {
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  width: 26%;
  height: 46%;
  x: 100;
  y: 85;
}

#jump3 {
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  width: 30%;
  height: 42%;
  x: 100;
  y: 42;
}

#jump4 {
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  width: 34%;
  height: 38%;
  x: 100;
  y: 21;
}

#jump5 {
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  width: 42%;
  height: 30%;
  x: 86;
  y: 10;
}

#jump6 {
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  width: 34%;
  height: 38%;
  x: 100;
  y: 146;
}

#jump7 {
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  width: 46%;
  height: 26%;
  x: 76;
  y: 182;
}

#jump8 {
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  width: 60%;
  height: 20%;
  x: 55;
  y: 200;
}

#jump9 {
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  width: 38%;
  height: 30%;
  x: 86;
  y: 170;
}

/* #slimeAnimation {
    visibility: hidden;
}

#slimeAnimation img:first-child {
    visibility: visible;
} */
