#timeLabel {
  font-size: 100;
  font-family: Tungsten-Medium;
  text-length: 8;
  text-anchor: start;
  x: 80;
  y: 170;
  fill: pink;
}

#dateLabel {
    font-size: 45;
  font-family: Tungsten-Medium;
  text-length: 4;
  text-anchor: start;
  x: 70;
  y: 120;
  fill: pink;
}
